scopeName: 'source.tie'
fileTypes: [ 'tie' ]
name: 'TIE'

patterns: [
    {
        include: '#comments'
    }
    {
        include: '#c_function_call'
    }
    {
        comment: 'Highlighting storage types'
        match: '\\b(assign|ctype|immediate_range|in|inout|format|function|operation|operator|out|proto|regfile|schedule|semantic|slot_opcodes|state|table|wire)\\b'
        name: 'storage.type.tie'
    }
    {
        comment: 'Highlighting numeric types'
        match: "\\b((0(x|X)[0-9a-fA-F]*)|(([1-9]\\d*)'(b|h)(0|1))|(0(b|B)[01]*)|(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))((e|E)(\\+|-)?[0-9]+)?)(L|l|UL|ul|u|U|F|f|ll|LL|ull|ULL)?\\b"
        name: 'constant.numeric.tie'
    }
    {
        comment: 'Highlighting #include or #import'
        begin: '^\\s*((#)\\s*(include|import))\\b\\s*'
        beginCaptures:
            1:
                name: 'keyword.control.directive.$3.c'
            2:
                name: 'punctuation.definition.directive.c'
        end: '(?=(?://|/\\*))|(?<!\\\\)(?=\\n)'
        name: 'meta.preprocessor.include.c'
        patterns: [
            {
                include: '#line_continuation_character'
            }
            {
                begin: '"'
                beginCaptures:
                    0:
                        name: 'punctuation.definition.string.begin.c'
                end: '"'
                endCaptures:
                    0:
                        name: 'punctuation.definition.string.end.c'
                name: 'string.quoted.double.include.c'
            }
            {
                begin: '<'
                beginCaptures:
                    0:
                        name: 'punctuation.definition.string.begin.c'
                end: '>'
                endCaptures:
                    0:
                        name: 'punctuation.definition.string.end.c'
                name: 'string.quoted.other.lt-gt.include.c'
            }
        ]
    }
]

repository:
    comments:
        patterns: [
            {
                captures:
                    1:
                        name: 'meta.toc-list.banner.block.tie'
                match: '^/\\* =(\\s*.*?)\\s*= \\*/$\\n?'
                name: 'comment.block.tie'
            }
            {
                begin: '\\/\\*'
                beginCaptures:
                    0:
                        name: 'punctuation.definition.comment.begin.tie'
                end: '\\*\\/'
                endCaptures:
                    0:
                        name: 'punctuation.definition.comment.end.tie'
                name: 'comment.block.tie'
            }
            {
                match: '\\*/.*\\n'
                name: 'invalid.illegal.stray-comment-end.tie'
            }
            {
                captures:
                    1:
                        name: 'meta.toc-list.banner.line.tie'
                match: '^// =(\\s*.*?)\\s*=\\s*$\\n?'
                name: 'comment.line.banner.tie'
            }
            {
                begin: '(^[ \\t]+)?(?=//)'
                beginCaptures:
                    1:
                        name: 'punctuation.whitespace.comment.leading.tie'
                end: '(?!\\G)'
                patterns: [
                    {
                        begin: '//'
                        beginCaptures:
                            0:
                                name: 'punctuation.definition.comment.tie'
                        end: '\\n'
                        name: 'comment.line.double-slash.tie'
                        patterns: [
                            {
                                include: '#line_continuation_character'
                            }
                        ]
                    }
                ]
            }
        ]
    line_continuation_character:
        patterns: [
            {
                match: '(\\\\)\\s*\\n'
                captures:
                    1:
                        name: 'constant.character.escape.line-continuation.tie'
            }
        ]
    c_function_call:
        captures:
            1:
                name: 'punctuation.whitespace.function-call.leading.tie'
            2:
                name: 'support.function.any-method.tie'
            4:
                name: 'punctuation.definition.parameters.tie'
        match: '(?x) (?: (?= \\s )  (?:(?<=else|new|return) | (?<!\\w)) (\\s+))?\n\t\t\t(\\b \n\t\t\t\t(?!(while|for|do|if|else|switch|catch|enumerate|return|sizeof|[cr]?iterate)\\s*\\()(?:(?!NS)[A-Za-z_][A-Za-z0-9_]*+\\b | :: )++                  # actual name\n\t\t\t)\n\t\t\t \\s*(\\()'
        name: 'meta.function-call.tie'
